.markdown-container pre {
  background-color: #0d1117;
  color: aliceblue;
  padding: 5px;
}

.glass-card {
  backdrop-filter: blur(14px) saturate(180%);
  background-color: rgba(17, 40, 22, 0.4);
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.25);
  color: aliceblue;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
}

.top-curve {
  border-radius: 8px 8px 0 0;
}

.bottom-curve {
  border-radius: 0 0 8px 8px;
}

.rounded {
  border-radius: 8px;
}

.loading-bar {
  width: 50%;
  height: 10px;
}

.load-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

}

#delete-conversation {
  opacity: .1;
}

#delete-conversation:hover {
  opacity: 1;
}

#delete-conversation-mobile {
  opacity: .3;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  backdrop-filter: blur(14px) saturate(180%);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.125);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  backdrop-filter: blur(14px);
  background-color: rgba(17, 25, 40, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.354);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 1px solid rgba(51, 50, 50, 0.354);
  background-color: rgba(216, 213, 213, 0.3);
}