.markdown-container pre {
  background-color: #0d1117;
  color: aliceblue;
  padding: 5px;
}

.glass-card {
  backdrop-filter: blur(14px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.67);
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  color: aliceblue;
  padding: 2rem;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 250px;
  border-radius: 3px;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  
}